@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$green-palette,
      tertiary: mat.$green-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);
