import { Creatable } from '@devmx/shared-api-interfaces';
import { <%= className %>Entity } from '../entities';
import { ApiProperty } from '@nestjs/swagger';
import { IsString } from 'class-validator';

export class Create<%= className %>Dto implements Creatable<<%= className %>Entity> {
  @IsString()
  @ApiProperty()
  name: string;
}
